@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

:root {
  --control-max-size: 300px;
  --padding: 20px;

  --modal-z-index: 10;
  --permission-z-index: 15;
  --toast-z-index: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;
  background-color: #000;

  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/* ui */
.button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
}
.button:hover {
  background: #f8f9fa;
}
.button.primary {
  background: #1a73e8;
  color: white;
  border: none;
}
.button.primary:hover {
  background: #1669c1;
}

/* component */
.qr-scanner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-scanner__video {
  width: 100%;
  height: 100%;
  transition: 0.3;
}
.qr-scanner.finished .qr-scanner__video {
  opacity: 0;
}

/* modal */
.modal {
  position: fixed;
  z-index: var(--modal-z-index);

  width: 100%;
  height: 100%;
}
.modal.hidden {
  opacity: 0;
}
.modal-background {
  background-color: #0003;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: var(--padding);
}
.modal-content {
  border-radius: 8px;
  padding: 16px 12px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #0003;
  
  max-width: var(--control-max-size);
  width: 100%;

  transition: 0.3s;
}
.modal.hidden .modal-content {
  transform: translateY(10px);
  opacity: 0;
}

/* Message */
.result-modal__message {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #f1f3f4;
  border-radius: 8px;
  padding: 10px 12px;

  font-family: monospace;
  font-size: 14px;
  color: #202124;
  word-break: break-all;

  overflow-x: auto;
}
.result-modal__message::-webkit-scrollbar {
  display: none;
}
.result-modal__actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* toasts */
.toast-container {
  position: fixed;
  z-index: var(--toast-z-index);
  
  top: var(--padding);
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.toast {
  width: 100%;
  max-width: var(--control-max-size);

  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  
  background: #333;
  color: white;
  opacity: 0;
  
  transform: translateY(10px);
  transition: all 0.3s ease;
}
.toast.visible {
  transform: translateY(0);
  opacity: 1;
}
.toast.success {
  background: #34a853;
}
.toast.error {
  background: #d93025;
}
.toast.info {
  background: #1a73e8;
}

/* permission button */
.permission-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--padding);

  box-shadow: 0px 1px 4px 0px #0003;
  cursor: pointer;

  z-index: var(--permission-z-index);
}
.permission-button.hidden {
  display: none;
}
